<a href="https://colab.research.google.com/github/adityavighne/Python-Basics/blob/main/Pandas-DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as nm

In [2]:
nm.arange(0,20).reshape(5,4)

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [3]:
# create datframe
df=pd.DataFrame(data=nm.arange(0,20).reshape(5,4), index=["Row1", "Row2", "Row3", "Row4", "Row5"],columns=["column1","column2","column3","column4"])

In [4]:
df.head()

      column1  column2  column3  column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, Row1 to Row5
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   column1  5 non-null      int64
 1   column2  5 non-null      int64
 2   column3  5 non-null      int64
 3   column4  5 non-null      int64
dtypes: int64(4)
memory usage: 200.0+ bytes

In [6]:
df.describe()

         column1    column2    column3    column4
count   5.000000   5.000000   5.000000   5.000000
mean    8.000000   9.000000  10.000000  11.000000
std     6.324555   6.324555   6.324555   6.324555
min     0.000000   1.000000   2.000000   3.000000
25%     4.000000   5.000000   6.000000   7.000000
50%     8.000000   9.000000  10.000000  11.000000
75%    12.000000  13.000000  14.000000  15.000000
max    16.000000  17.000000  18.000000  19.000000

In [19]:
df.head()

      column1  column2  column3  column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [22]:
# by using column name
df[['column1','column4']]

      column1  column4
Row1        0        3
Row2        4        7
Row3        8       11
Row4       12       15
Row5       16       19

In [26]:
# unsing loc function for rows
df.loc[['Row2']]

      column1  column2  column3  column4
Row2        4        5        6        7

In [7]:
# using row index and column index number
df.iloc[2,2]

10

In [8]:
type(df['column1'])

pandas.core.series.Series

In [9]:
type(df)

pandas.core.frame.DataFrame

In [18]:
df.iloc[0:5,0:4:3]

      column1  column4
Row1        0        3
Row2        4        7
Row3        8       11
Row4       12       15
Row5       16       19

In [29]:
df.iloc[0:,4:]

Empty DataFrame
Columns: []
Index: [Row1, Row2, Row3, Row4, Row5]

Basic Operations

In [30]:
df.isnull().sum() # to catch null value

column1    0
column2    0
column3    0
column4    0
dtype: int64